*{
box-sizing: border-box;

}

body {
    background-color: rgb(103, 231, 17);
    }

.topo { 
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}


    .container {
      display: flex; 
      justify-content: space-between;
    }

    .flex {
       display: flex;

    }

    h1 {
      display: block;
      width: 100px;
      margin: 0;
      font-family: "Verdana";
      color: rgb(238, 92, 20);
      border: #7F5254;
      text-align: center;
      font-size: 40px;
      color: #00539F;
      transition-duration: 3s;
    }

  .box {
      display: block;
      margin: 0px 2px 0px 2px;
      font-size: 1.75rem;
      font-family: "Verdana";
      color: rgb(245, 242, 240);
      text-align: center;
      transition: background 3s;
    }
    .box:hover {
     color: royalblue;
     transition: color 3s;
        }

    .primeira {
      background-color: rgb(238, 82, 20);
    }

    .segunda {
      background-color: #280764;
    }

    .terceira {
      background-color: #7F5254;
    }

    ul {

      font-size: 14px;
   
   }
   
   ul li {
   
      color: blue;
   
    }

.dog img {
  width: 20.75vw;
  height: 20.75vw;
  object-fit: cover;

}


.dog {
      display: flex;
      flex-flow: row;
      max-width: 65vw;
      
  }
 <p>
 <p> 
.imagens {
justify-content: left;
align-items: center;
margin: 10px;
}
 @media (max-width: 800px) {
  .adote {
    display: none;
  

   }
.topo {
  justify-content: center;
}
 }
@media (max-width: 700px) {

  .dog {
display: flex;
flex-direction: column;
justify-content: center;

  }
.menu {
display: flex;
flex-direction: column;

}

}

.footer {
	position:absolute;
	bottom:0;
	width:100%;
}

html, body {
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
      
footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(246, 246, 250);
  color: #00539F;
  width: 100%;
  height: 60px;    
  text-align: center;
  line-height: 90px;
}